
.first-container h1{
    width: 455px;
    border-bottom: 3px solid black;
    font-size: 64px;
}
.first-container p{
    font-size: 40px;
    width: 100%;
}
.first-container a{
   color: black;
   font-size: 40px;
}

.bolt{
    font-weight: 800;
}
.second-container h1{
    width: 210px;
    border-bottom: 3px solid black;
    font-size: 64px;   
}
.second-container a{
    color: black;
    font-size: 40px;   
}

.third-container h1{
    width: 170px;
    border-bottom: 3px solid black;
    font-size: 64px; 
}
.third-container li{
    font-size: 40px;
    width: 100%;   
}